<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Inicio</title>
    <link th:href="@{css/stylesheet.css}" rel="stylesheet">
</head>
<body>
<div class="topnav">
    <a th:href="@{/}" class="active">Inicio</a>
    <a th:href="@{/mostrar-clientes}">Mostrar clientes</a>
</div>
<div class="container">
    <h1>Mostrando el historial de compras de nuestros clientes</h1>
    <p>Elaborado por José L. García</p>
    <hr/>
    <p>The Complete Spring Boot Development Bootcamp</p>
</div>
</body>
</html>